<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Static Less &amp; Coffeescript Grunt Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- build:css css/styles.min.css -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- add any other stylesheets inside here... -->
        <!-- endbuild -->
    </head>
    <body>

        <div id="content">

            <h1>{{title}}</h1>

            <p>
                {{body}}
            </p>

        </div>

        <!-- build:js js/app.js -->
        <script src="js/app.js"></script>
        <!-- add any other javascript files inside here... -->
        <!-- endbuild -->

    </body>
</html>
